body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 24px;
}

img {
    max-width: 150px;
    border-radius: 50%;
    margin: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #0077cc;
}

/* Media query for smaller screens (e.g., smartphones) */
@media (max-width: 768px) {
    h1 {
        font-size: 20px;
    }

    img {
        max-width: 150px;
    }

    p {
        font-size: 16px;
    }
}
